<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<%= link_to "Edit post", edit_post_path(@post), class: 'btn btn-warning' %>
<%= link_to "Delete post", post_path(@post), method: :delete, data:{confirm: "Do you want to delete the Article? "}, class:'btn btn-danger' %>
<hr>
<h3>All comments</h3>
<%= render @post.comments %>
<hr>
<h4>Add comment</h4>
<%= render 'comments/form' %>